* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 60px;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
}

.logo {
  height: 200px;
  z-index: 0;
}

.navigation {
  display: flex;
  gap: 120px;
  list-style: none;
}

.nav_button {
  text-decoration: none;
  color: #384147;
  font-size: 18px;
  transition: 0.3s;
}

.nav_button_sel {
  text-decoration: none;
  color: #69a2ac;
  font-size: 18px;
}

.nav_button:hover {
  transition: 0.3s;
  color: #69a2ac;
}

main {
  height: 93vh;
  background-image: url("/images/Дизайн без названия.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.main_item {
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 460px;
  height: 150px;
  text-align: center;
  margin-top: 70px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  height: 150px;
  width: 100%;
}

.adres {
  padding-top: 20px;
}

.soc_icons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.soc_icon {
  height: 50px;
}

iframe {
  margin-top: 4px;
}
