* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 60px;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
}

.logo {
  height: 200px;
  z-index: 0;
}

.navigation {
  display: flex;
  gap: 120px;
  list-style: none;
}

.nav_button {
  text-decoration: none;
  color: #384147;
  font-size: 18px;
  transition: 0.3s;
}

.nav_button_sel {
  text-decoration: none;
  color: #69a2ac;
  font-size: 18px;
}

.nav_button:hover {
  transition: 0.3s;
  color: #69a2ac;
}

main {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/Дизайн без названия.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form_label {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #384147;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #69a2ac;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  height: 150px;
  width: 100%;
}

.adres {
  padding-top: 20px;
}

.soc_icons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.soc_icon {
  height: 50px;
}

iframe {
  margin-top: 4px;
}
